<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Backlogs Analysis - Results Scraper</title>
</head>

<body>
    <div class="nav-strip">
        <span class="burger-icon" onclick="toggleSidebar()">&#9776;</span>
        <h1>Backlogs Frequency Analysis</h1>
    </div>

    <div class="sidebar" id="sidebar">
        <h2>Developed By</h2>
        <p><b> Mohammed Abdul Rahman</b></p>
        <P> AR </P>
        <p>
            <a href="https://github.com/that-ar-guy" target="_blank">GitHub</a>
        </p>
        <p>
            <a href="https://linkedin.com/in/that-ar-guy" target="_blank">LinkedIn</a>
        </p>
        <button onclick="toggleSidebar()"><b>CLOSE</b></button>
    </div>

    <h2>Backlogs Count</h2>
    <table>
        <thead>
            <tr>
                <th>Backlog</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for backlog, count in backlog_counts.items() %}
                <tr>
                    <td>{{ backlog }}</td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="backButton"><b>Back to Results</b></button>

<script>
    document.getElementById("backButton").addEventListener("click", function () {
        window.location.href = "{{ url_for('index') }}";
    });
</script>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            sidebar.style.display = sidebar.style.display === "block" ? "none" : "block";
        }
    </script>

</body>

</html>
